In [51]:
import matplotlib.pyplot as plt
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [68]:
comp_df[['own_kendall_c','own_kendall_p']][comp_df['own_kendall_p']<0.05]

    own_kendall_c  own_kendall_p
0       -0.580381       0.026285
21       0.518545       0.044018
42       0.457047       0.044178
54       0.497468       0.037238
56       0.739574       0.002398
83      -0.536020       0.022499

In [69]:
comp_df[['ave_kendall_c','ave_kendall_p']][comp_df['ave_kendall_p']<0.05]

    ave_kendall_c  ave_kendall_p
4        0.454545       0.039669
42       0.687043       0.001981
49      -0.523139       0.019155
52      -0.484881       0.034790
58      -0.461593       0.038742
92       0.509797       0.032981

In [70]:
comp_df[['other_kendall_c','other_kendall_p']][comp_df['other_kendall_p']<0.05]

    other_kendall_c  other_kendall_p
67          0.50995         0.031741

In [71]:
# resort_predict_df
# new_own_gt_df 
# new_other_gt_df 
# new_amt_gt_df

In [86]:
index_check = 5
resort_predict_df.sort_values(by=index_check, ascending=False, axis=1).loc[index_check]

11    7.18519
03    6.96977
04     6.7521
02    6.25364
09    6.20401
08     6.0099
07    5.98888
05    5.53911
10    5.48723
12    4.95853
01        NaN
06        NaN
Name: 5, dtype: object

In [82]:
new_own_gt_df.sort_values(by=4, ascending=False, axis=1).loc[4]

participantID
PHOTO5     9
PHOTO3     7
PHOTO4     7
PHOTO12    7
PHOTO1     6
PHOTO2     5
PHOTO8     2
PHOTO9     2
PHOTO11    2
PHOTO6     1
PHOTO7     1
PHOTO10    1
Name: 4, dtype: object

In [84]:
new_amt_gt_df.sort_values(by=4, ascending=False, axis=1).loc[4]
# new_amt_gt_df

participantID
PHOTO1     7.45
PHOTO3     7.35
PHOTO2      7.2
PHOTO11     7.1
PHOTO5      6.9
PHOTO7     6.85
PHOTO9     6.75
PHOTO4      6.7
PHOTO12     6.6
PHOTO6     6.35
PHOTO8      6.1
PHOTO10    5.65
Name: 4, dtype: object