In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
my_prediction_path = '/home/amanda/Documents/predicted_results/david_data/to_david/impression_gen_age_ProfileImageDataset.csv'
df = pd.read_csv(my_prediction_path)

In [4]:
feature_name = 'attractive'
df_target = df[['filename', feature_name]]

In [5]:
df_target.head()

     filename  attractive
0  006_08.jpg    4.483673
1  080_02.jpg    5.705270
2  091_04.jpg    5.067604
3  078_03.jpg    6.048259
4  064_07.jpg    4.982370

In [26]:
participant_lst, photo_id_lst = [], []
for index, row in df_target.iterrows():
    participant_id, photo_id = row['filename'].split('_')
    photo_id = photo_id[:-4]
    participant_lst.append(participant_id)
    photo_id_lst.append(photo_id)

In [20]:
df_target['participant_id'] = participant_lst

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
df_target['participant_id'] = participant_lst

In [25]:
df_target['photo_id'] = photo_id_lst

In [48]:
df_target.sort_values(['participant_id', 'photo_id'], ascending=[True, True], inplace=True)

In [40]:
participant_set = list(set(df_target['participant_id']))
participant_set.sort()

In [44]:
photo_id_set = list(set(df_target['photo_id']))
photo_id_set.sort()

In [45]:
resort_df = pd.DataFrame(index=participant_set, columns=photo_id_set)

In [50]:
# resort_df
# resort_df.set_value(index='y', col=, value=y)
for index, row in df_target.iterrows():
    resort_df.set_value(index=row['participant_id'], col=row['photo_id'], value=row['attractive'])

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [143]:
# resort_df.columns[:2]
resort_df.columns[2:4]

Index([u'03', u'04'], dtype='object')

In [145]:
resort_df.columns[0:2]

Index([u'01', u'02'], dtype='object')

In [58]:
gt_path = '/home/amanda/Github/ProfileImageDataset/calibrationExperiment_ItemRatingData.xlsx'
gt_df = pd.read_excel(gt_path, sheet_name='5.attractiveness')

In [61]:
gt_df.shape

(103, 36)

In [67]:
test_gt_df1 = gt_df[gt_df.columns[:12]]

In [69]:
test_gt_df1.shape

(103, 12)

In [70]:
list(test_gt_df1.columns.values)

[u'OWN-RATINGS (SELF)',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11']

In [74]:
test_gt_df1.iloc[1:].shape

(102, 12)

In [75]:
resort_df.shape

(101, 12)

In [122]:
new_df = test_gt_df1.reset_index(level=0, drop=True)

In [101]:
test_gt_participant_lst = list(test_gt_df1.index.get_level_values(1)[1:])

In [102]:
len(test_gt_participant_lst)

102

In [108]:
test_gt_participant_lst[0]

1

In [109]:
int(resort_df.index[0])

1

In [111]:
resort_df_index_int = [ int(x) for x in resort_df.index ]

In [113]:
set(test_gt_participant_lst) - set(resort_df_index_int)

{30}

In [120]:
test_gt_df1.shape

(103, 12)

In [121]:
test_gt_df1.index.names

FrozenList([None, None])

In [127]:
new_df.columns

Index([u'OWN-RATINGS (SELF)',         u'Unnamed: 1',         u'Unnamed: 2',
               u'Unnamed: 3',         u'Unnamed: 4',         u'Unnamed: 5',
               u'Unnamed: 6',         u'Unnamed: 7',         u'Unnamed: 8',
               u'Unnamed: 9',        u'Unnamed: 10',        u'Unnamed: 11'],
      dtype='object')

In [135]:
new_df.columns = new_df.iloc[0]
# new_df.reindex(new_df.index.drop(0))

In [139]:
new_df.drop('participantID', inplace=True)

In [146]:
new_df.shape

(102, 12)

In [148]:
resort_df.shape

(101, 12)

In [149]:
new_df.head()

participantID,PHOTO1,PHOTO2,PHOTO3,PHOTO4,PHOTO5,PHOTO6,PHOTO7,PHOTO8,PHOTO9,PHOTO10,PHOTO11,PHOTO12
1,2,5,3,2,5,4,4,6,6,2,5,6
4,6,5,7,7,9,1,1,2,2,1,2,7
5,6,3,2,3,5,5,2,4,4,5,2,3
6,7,6,4,5,7,4,5,2,7,5,5,4
7,5,1,2,5,1,5,7,7,1,9,6,5

In [150]:
resort_df.head()

,01,02,03,04,05,06,07,08,09,10,11,12
001,3.44345,NaN,3.79055,4.01705,3.62514,3.21481,2.99698,2.67441,3.18356,4.44293,NaN,3.42285
004,6.40531,4.75651,4.88697,5.7226,7.43723,5.83777,5.71739,5.46605,5.22813,5.53885,5.65234,NaN
005,NaN,6.25364,6.96977,6.7521,5.53911,NaN,5.98888,6.0099,6.20401,5.48723,7.18519,4.95853
006,5.60459,5.45279,NaN,NaN,5.0809,4.48422,6.04672,4.48367,NaN,4.43996,4.39041,5.2692
007,4.60251,4.82876,5.9109,5.75193,5.49179,4.18768,6.28603,5.62248,5.3922,5.25241,6.73294,4.97349

In [151]:
resort_df.to_csv('attractive.csv')