In [1]:
import pandas as pd
import random
pd.options.mode.chained_assignment = None  # default='warn'

In [8]:
gen_img_lst = '../static/csv/trustworthy_gen.csv'
real_img_lst = '../static/csv/trustworthy_ground_truth.csv'

gen_im_df = pd.read_csv(gen_img_lst)
real_im_df = pd.read_csv(real_img_lst)

True

In [13]:
ordered_df = pd.read_csv('../for_amt/ordered_im.csv')

In [14]:
ordered_df.head()

,Unnamed: 0,level 1,level 2,level 3,level 4
0,136220,136220_-0.75.png,136220_-0.25.png,136220_0.25.png,136220_0.75.png
1,136184,136184_-0.75.png,136184_-0.25.png,136184_0.25.png,136184_0.75.png
2,136187,136187_-0.75.png,136187_-0.25.png,136187_0.25.png,136187_0.75.png
3,136186,136186_-0.75.png,136186_-0.25.png,136186_0.25.png,136186_0.75.png
4,136224,136224_-0.75.png,136224_-0.25.png,136224_0.25.png,136224_0.75.png

In [15]:
trait = 'aggressive'
level13_df = pd.read_csv('../for_amt/temp_img_lst/gt/'+trait+'-'+'level-1-3.csv')
level24_df = pd.read_csv('../for_amt/temp_img_lst/gt/'+trait+'-'+'level-2-4.csv')

In [16]:
level13_df.head()

,Filename,aggressive,high name,high value,low name,low value,dif
0,086142.jpg,1.872926,076129.jpg,5.872824,086142.jpg,1.872926,3.999898
1,046077.jpg,1.935779,173729.jpg,5.935419,046077.jpg,1.935779,3.999641
2,101907.jpg,1.948233,049572.jpg,5.948047,101907.jpg,1.948233,3.999814
3,066743.jpg,1.972019,146623.jpg,5.972115,066743.jpg,1.972019,4.000096
4,087124.jpg,1.977691,134015.jpg,5.977614,087124.jpg,1.977691,3.999923

In [19]:
stim_df = pd.DataFrame(columns=[['im1_name', 'im2_name', 'pair_type', 'pair_distance_type']])

In [37]:
im1_names = level13_df['low name'][:50]
im2_names = level13_df['high name'][:50]
stim_df['im1_name'] = im1_names
stim_df['im2_name'] = im2_names
# stim_df['pair_type'] = ['gt'] *50
# stim_df['pair_distance_type'] = ['score 2-6']*50

In [38]:
stim_df['pair_type'] = 'gt'
stim_df['pair_distance_type'] = 'score 2-6'

In [40]:
            stim_second_half = pd.DataFrame(columns=[['im1_name', 'im2_name', 'pair_type', 'pair_distance_type']])
            stim_second_half['im1_name'] = level24_df['low name'][:50]
            stim_second_half['im2_name'] = level24_df['high name'][:50]
            stim_second_half['pair_type'] = 'gt'
            stim_second_half['pair_distance_type'] = 'score 4-8'

In [41]:
test_df = pd.concat([stim_df, stim_second_half])

In [46]:
trait = 'attractive'
df = pd.read_csv('../for_amt/temp_img_lst/gt_stim_lst/'+trait+'_stim_raw.csv')
df.shape

(100, 6)

In [47]:
# Randomly sample 7 elements from your dataframe
df_elements = df.sample(n=10)

In [49]:
df_elements['repeat'] = 1

In [54]:
merged_df = pd.concat([df, df_elements], ignore_index=True)

In [56]:
merged_df.head()

     im1_name    im2_name pair_type pair_distance_type pair_order  repeat
0  057518.jpg  070831.jpg        gt          score 2-6   low-high       0
1  163226.jpg  027404.jpg        gt          score 2-6   low-high       0
2  159705.jpg  098607.jpg        gt          score 2-6   low-high       0
3  102224.jpg  125841.jpg        gt          score 2-6   low-high       0
4  088703.jpg  060969.jpg        gt          score 2-6   low-high       0

In [59]:
# rating_df = pd.read_csv('./static/csvs/celeb_ratings.csv')
unique_pair_num = 50
trait = 'attractive'
stim_df = pd.DataFrame(columns=['im1_name', 'im2_name'])
low_df = rating_df[['Filename', trait]].sort_values(by=[trait])[:unique_pair_num]
high_df = rating_df[['Filename', trait]].sort_values(by=[trait])[-unique_pair_num:]

In [64]:
rating_df.sort_values(by=[trait])[:unique_pair_num]['Filename'].values

array(['057518.jpg', '163226.jpg', '159705.jpg', '102224.jpg',
       '088703.jpg', '179200.jpg', '089364.jpg', '116932.jpg',
       '022208.jpg', '053963.jpg', '092543.jpg', '041019.jpg',
       '032897.jpg', '148453.jpg', '123534.jpg', '184595.jpg',
       '023563.jpg', '187219.jpg', '119846.jpg', '007576.jpg',
       '079101.jpg', '028968.jpg', '038621.jpg', '092300.jpg',
       '093588.jpg', '079362.jpg', '028036.jpg', '086859.jpg',
       '003044.jpg', '008481.jpg', '083021.jpg', '142860.jpg',
       '051933.jpg', '099869.jpg', '038389.jpg', '116705.jpg',
       '078003.jpg', '124225.jpg', '020119.jpg', '121771.jpg',
       '196721.jpg', '089108.jpg', '022421.jpg', '178055.jpg',
       '097300.jpg', '167156.jpg', '124319.jpg', '200278.jpg',
       '058303.jpg', '142945.jpg'], dtype=object)

In [65]:
rating_df.sort_values(by=[trait])['Filename'][:10]

174541    057518.jpg
60333     163226.jpg
70385     159705.jpg
186773    102224.jpg
12887     088703.jpg
11137     179200.jpg
34163     089364.jpg
182034    116932.jpg
130615    022208.jpg
164723    053963.jpg
Name: Filename, dtype: object