In [1]:
import pandas as pd
import random
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
gen_img_lst = '../static/csv/trustworthy_gen.csv'
real_img_lst = '../static/csv/trustworthy_groundtruth.csv'

gen_im_df = pd.read_csv(gen_img_lst)
real_im_df = pd.read_csv(real_img_lst)

In [3]:
gen_im_df.head()

    less_trustworthy   more_trustworthy People
0  087391_2.0_AE.png  087391_8.0_AE.png   Same
1  087392_2.0_AE.png  087392_8.0_AE.png   Same
2  087393_2.0_AE.png  087393_8.0_AE.png   Same
3  087394_2.0_AE.png  087394_8.0_AE.png   Same
4  087396_2.0_AE.png  087396_8.0_AE.png   Same

In [4]:
real_im_df.head()

  trustworthy_max trustworthy_min
0      051409.jpg      109934.jpg
1      046077.jpg      065232.jpg
2      128593.jpg      038546.jpg
3      063159.jpg      028757.jpg
4      017814.jpg      163099.jpg