In [3]:
import numpy as np

In [1]:
file_name = 'all_im_fc6.npy'

In [5]:
feats = np.load(file_name, encoding='latin1').item()

In [6]:
len(feats)

2208

In [14]:
'Google_1_Nellie Voss_13_oval.jpg' in feats.keys()

True

In [23]:
a = feats['Google_1_Nellie Voss_13_oval.jpg']

In [9]:
a.shape

(4096,)

In [16]:
type(a)

numpy.ndarray

In [12]:
df = pd.read_pickle('selected_score.pkl')

In [15]:
df[0:2]

,Filename,trustworthy,intelligent,attractive,aggressive,responsible,sociable
0,Google_1_Danielle Goble_5_oval.jpg,5.333333,5.6,4.866667,4.800000,5.800000,4.666667
1,Google_1_Phillip Owensby_9_oval.jpg,6.733333,6.6,4.733333,3.133333,7.466667,6.600000

In [41]:
arr = np.empty((0, 6), dtype=np.float32)
fff = np.empty((0, 4096), dtype=np.float32)
for index, row in df[0:10].iterrows():
    a = [row['attractive'], row['aggressive'], row['trustworthy'], row['intelligent'], row['sociable'], row['responsible']] 
    file_name = row['Filename']
    cur_f = feats[file_name]
    arr = np.append(arr, np.array([a]), axis=0)
    fff = np.append(fff, np.array([cur_f]), axis=0)

In [39]:
arr.shape

(10, 6)

In [42]:
fff.shape

(10, 4096)

In [1]:
file_name='all_im_fc6.npy'

In [3]:
file_name[7:10]

'fc6'

In [4]:
    extract_feat_source = file_name[7:10]
    save_name = 'tmp_data/train_test_raw_data_'+ extract_feat_source+'.npz'

In [5]:
save_name

'tmp_data/train_test_raw_data_fc6.npz'