In [1]:
import pandas as pd

In [2]:
api_data = pd.read_csv('/home/amanda/Github/impression_personality/ent-labels.txt', sep="\t", header=None)

In [5]:
    api_data.columns = ["faceId", "faceTopDimension", "faceLeftDimension", "faceWidthDimension", "faceHeightDimension",
                    "smile", "pitch", "roll", "yaw", "gender", "age", "moustache", "beard", "sideburns", "glasses",
                    "anger", "contempt", "disgust", "fear", "happiness", "neutral", "sadness", "surprise", "blurlevel",
                    "blurvalue", "exposurelevel", "exposurevalue", "noiselevel", "noisevalue", "eymakeup", "lipmakeup",
                    "foreheadoccluded", "eyeoccluded", "mouthoccluded", "hair-bald", "hair-invisible", "img_name", "nan"]

    api_data = api_data.drop(api_data.index[0])
    api_data = api_data[['img_name', 'smile', 'gender', 'age', 'glasses', 'anger', 'contempt', 'disgust', 'fear', 'happiness',
                 'neutral', 'sadness', 'surprise']]

In [6]:
api_data.head()

,img_name,smile,gender,age,glasses,anger,contempt,disgust,fear,happiness,neutral,sadness,surprise
1,e5937_cb.jpg,0.547,female,42.8,NoGlasses,0.0,0.004,0.0,0.0,0.547,0.447,0.001,0.0
2,e7408_cb.jpg,0.0,male,26.2,NoGlasses,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,e2745_cb.jpg,0.46,male,41.4,ReadingGlasses,0.0,0.124,0.0,0.0,0.46,0.415,0.0,0.0
4,e3272_cb.jpg,0.502,male,45.1,NoGlasses,0.0,0.0,0.0,0.0,0.502,0.497,0.0,0.0
5,e3523_cb.jpg,0.002,male,40.2,ReadingGlasses,0.002,0.006,0.001,0.0,0.002,0.974,0.014,0.002

In [7]:
len(api_data)

9732

In [8]:
# Now choose a unique set of cb or tw data. 
im_name_lst = api_data['img_name'].values

In [14]:
id_lst = [f[:-7] for f in im_name_lst]
unique_id_lst = set(id_lst) # 7905

In [15]:
len(unique_id_lst)

7905

In [12]:
e_im_lst = [im_id+'_cb.jpg' if im_id+'_cb.jpg' in im_name_lst else im_id+'_tw.jpg' for im_id in unique_id_lst]

In [18]:
e_pred = pd.read_csv('./tmp_data/e_impression_predict.csv')

In [21]:
e_pred.head()

,Unnamed: 0,img_name,trustworthy,intelligent,attractive,aggressive,responsible,sociable,e_id,binary,fund
0,0,e4447_cb.jpg,5.448389,5.040924,4.938795,2.354114,5.391972,6.652265,e4447,0,0.0
1,1,e11543_cb.jpg,5.717575,5.103132,3.898923,3.402180,5.656913,5.672017,e11543,0,0.0
2,2,e11547_cb.jpg,4.904439,5.252395,4.142537,4.143762,5.053437,5.144416,e11547,0,0.0
3,3,e11545_cb.jpg,5.537255,5.127421,4.747706,3.171088,5.531161,6.173637,e11545,0,0.0
4,4,e11548_cb.jpg,4.838200,5.022482,4.530700,4.067746,4.922415,5.363950,e11548,0,0.0

In [22]:
len(e_pred)

8064

In [23]:
my_im_lst = e_pred['img_name'].values

In [24]:
common_lst = set(e_im_lst) & set(my_im_lst)

In [25]:
len(common_lst)

7800

In [46]:
dif_set_1 = set(my_im_lst) - common_lst

In [50]:
import os
from shutil import copyfile

img_src_dir = '/home/amanda/Documents/cropped_face/e_with_mask'
dst_dir = '/home/amanda/Documents/cropped_face/problematic_faces'
counter = 0
for i in dif_set_1:
    src_path = os.path.join(img_src_dir, i)
    dst_path = os.path.join(dst_dir, i)
    if not os.path.isfile(src_path):
#         copyfile(src_path, dst_path)
        counter+=1
print(counter)

87

In [33]:
'e185_tw.jpg' in my_im_lst

False

In [34]:
len(dif_set_1)

105

In [35]:
    e_dir = '/home/amanda/Documents/cropped_face/e_with_mask'
    model_save_dir = '/home/amanda/Documents/vgg_model/e_with_mask_feat'

    im_name_lst = [f for f in os.listdir(e_dir) if os.path.isfile(os.path.join(e_dir, f))]
    id_lst = [f[:-7] for f in im_name_lst]
    unique_id_lst = set(id_lst)

    e_im_lst = [im_id + '_cb.jpg' if im_id + '_cb.jpg' in im_name_lst else im_id + '_tw.jpg' for im_id in unique_id_lst]

In [36]:
len(e_im_lst)

8064

In [37]:
len(unique_id_lst)

8064

In [38]:
'e185' in unique_id_lst

True

In [40]:
'e185_cb.jpg' in e_im_lst

True

In [44]:
'e185' in e_pred['e_id'].values

False

In [42]:
len(e_pred)

8064