In [12]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [43]:
e_data_df = pd.read_pickle('tmp_data/e_df.pkl')

In [47]:
e_data_df.head()

,uuid,short_id,directory,tw_img_path,cb_img_path,E - Employees (Log),E - VC Raised (log),E - VC Rds,E - Total Raised (log),E - Total Rds,E - IPO
13163,d4d908d3-5738-c583-9ecc-78fa4a7d977e,e1,e0,e0/e1_tw.jpeg,e0/e1_cb.jpeg,NaN,0.0,0.0,0.000000,0.0,0.0
13164,fa1afbe2-9995-20ee-0c41-3886ee3fdfc4,e2,e0,e0/e2_tw.jpeg,e0/e2_cb.jpeg,0.477121,0.0,0.0,6.235641,3.0,0.0
13165,ce695f82-fa7b-b0f9-2e6a-f6a66dc4dbc2,e3,e0,e0/e3_tw.jpeg,e0/e3_cb.jpeg,2.549003,0.0,0.0,0.000000,0.0,0.0
13166,437e2d92-da93-6dab-4324-39721fcc59e7,e4,e0,e0/e4_tw.jpeg,e0/e4_cb.jpeg,0.477121,0.0,0.0,0.000000,0.0,0.0
13167,57854bf4-5cc2-6689-d2ff-41f8961c26ec,e5,e0,e0/e5_tw.jpeg,e0/e5_cb.jpeg,NaN,0.0,0.0,0.000000,0.0,0.0

In [57]:
df['e_id'] = pd.Series([s[:-7] for s in df['img_lst'].values], index=df.index)

In [58]:
df.head()

,img_lst,trustworthy,intelligent,attractive,aggressive,responsible,sociable,e_id
0,e4447_cb.jpg,5.448390,5.040924,4.938795,2.354114,5.391973,6.652265,e4447
1,e11543_cb.jpg,5.717575,5.103132,3.898923,3.402180,5.656913,5.672017,e11543
2,e11547_cb.jpg,4.904439,5.252395,4.142537,4.143762,5.053437,5.144416,e11547
3,e11545_cb.jpg,5.537255,5.127421,4.747706,3.171088,5.531161,6.173637,e11545
4,e11548_cb.jpg,4.838200,5.022482,4.530700,4.067746,4.922415,5.363950,e11548

In [59]:
short_e_data_df = e_data_df[e_data_df['short_id'].isin(df['e_id'])]
short_e_data_df = short_e_data_df.set_index('short_id')
short_e_data_df = short_e_data_df.loc[df['e_id']]
short_e_data_df['binary'] = (short_e_data_df['E - VC Raised (log)']!=0).astype(int)
sum(short_e_data_df['binary']==0)
sum(short_e_data_df['binary']==1)

In [73]:
df.head()

,img_lst,trustworthy,intelligent,attractive,aggressive,responsible,sociable,e_id,binary
0,e4447_cb.jpg,5.448390,5.040924,4.938795,2.354114,5.391973,6.652265,e4447,0
1,e11543_cb.jpg,5.717575,5.103132,3.898923,3.402180,5.656913,5.672017,e11543,0
2,e11547_cb.jpg,4.904439,5.252395,4.142537,4.143762,5.053437,5.144416,e11547,0
3,e11545_cb.jpg,5.537255,5.127421,4.747706,3.171088,5.531161,6.173637,e11545,0
4,e11548_cb.jpg,4.838200,5.022482,4.530700,4.067746,4.922415,5.363950,e11548,0

In [72]:
df['binary'] = short_e_data_df['binary'].values

In [74]:
from scipy.stats import ttest_ind

In [75]:
success = df['binary'] == 1
fail = df['binary'] == 0
cat_success = df[success]
cat_fail = df[fail]

In [76]:
rating_names = ['trustworthy', 'intelligent', 'attractive', 'aggressive', 'responsible', 'sociable']

In [81]:
cur_feat = 'trustworthy'
def print_fun(cur_feat):
    print cur_feat
    print ttest_ind(cat_success[cur_feat], cat_fail[cur_feat])
    print df[cur_feat][success].mean(), df[cur_feat][fail].mean()
    print df[cur_feat][success].std(), df[cur_feat][fail].std()

In [82]:
cur_feat = 'trustworthy'
print_fun(cur_feat)

trustworthy
Ttest_indResult(statistic=3.096796155500767, pvalue=0.001962960695459129)
5.3900833 5.3401427
0.5397521 0.5700506

In [83]:
cur_feat = 'intelligent'
print_fun(cur_feat)

intelligent
Ttest_indResult(statistic=4.566031283255054, pvalue=5.044176236951285e-06)
5.388978 5.325652
0.44321886 0.494685

In [84]:
cur_feat = 'attractive'
print_fun(cur_feat)

attractive
Ttest_indResult(statistic=-7.531075029360769, pvalue=5.577092859844467e-14)
4.8910804 5.0534196
0.69577885 0.7674411

In [85]:
cur_feat = 'aggressive'
print_fun(cur_feat)

aggressive
Ttest_indResult(statistic=-0.30251572783867303, pvalue=0.7622667500316294)
3.2055748 3.2119465
0.69916904 0.745783

In [86]:
cur_feat = 'responsible'
print_fun(cur_feat)

responsible
Ttest_indResult(statistic=5.4274385180658244, pvalue=5.882962357113979e-08)
5.5304804 5.4504204
0.48927763 0.5223859

In [87]:
cur_feat = 'sociable'
print_fun(cur_feat)

sociable
Ttest_indResult(statistic=-1.832056860949001, pvalue=0.06697981971035154)
5.980653 6.021364
0.74682164 0.7848376